### Exception Handling

In [ ]:
try:
    print('Hello roll no.'+ 1)
except:
    print('Hello roll no.'+'3')

Hello roll no.3

In [ ]:
try:
    your_name = input('Please, enter your name')
    your_roll_num = int(input('Plese, enter your roll number'))
    print('Your Name is '+your_name+' and your roll number is '+your_roll_num)
except:
    print('Your roll number',your_roll_num)

Please, enter your nameDeepak Mittal
Plese, enter your roll number38
Your roll number 38

In [ ]:
try:
    a = input('Enter first number')  
    b = input('Enter second number') 
    sum_ = int(a+b)
    print(sum_)
except:
    print('You have entered non-numberic digit')

Enter first number3
Enter second numberabc
You have entered non-numberic digit

In [ ]:
try:
    a = input()
    b = input()
    sum_ = int(a+b)
    print(sum_)
except ValueError:
    print('Sorry, it is an ValueError')
except TypeError:
    print('Sorry, it is an TypeError')
except ZeroDivisionError:
    print('Sorry, it is an ZeroDivisionError')
except:
    print('final')

4
g
Sorry, it is an ValueError

In [ ]:
try:
    a = 3
    b = 'd'
    sum_ = a+b
    print(sum_)
except ValueError:
    print('Sorry, it is an ValueError')
except TypeError:
    print('Sorry, it is an TypeError')
except ZeroDivisionError:
    print('Sorry, it is an ZeroDivisionError')
except:
    print('final')

Sorry, it is an TypeError

In [ ]:
try:
    a = 1
    b = 0
    print(a/b)
except ValueError:
    print('Sorry, it is an ValueError')
except TypeError:
    print('Sorry, it is an TypeError')
except SyntaxError:
    print('Sorry, it is an SyntaxError')
except ZeroDivisionError:
    print('Sorry, it is an ZeroDivisionError')
except:
    print('final')

Sorry, it is an ZeroDivisionError

In [ ]:
try:
    print(var)
except ZeroDivisionError:
    print("It is an ZeroDivisionError")
except NameError:
    print("It is an NameError")
finally:
    print('final statement')

It is an NameError
final statement

In [ ]:
try:
    sum = 1 + 'a'
    print(sum)
except ZeroDivisionError:
    print("It is an ZeroDivisionError")
except NameError:
    print("It is an NameError")
except TypeError:
    print("It is an TypeError")
finally:
    print('final statement')

It is an TypeError
final statement

### Raise

In [ ]:
a = 1
b = 10

if a<b:
    raise ZeroDivisionError

ZeroDivisionError: ignored

In [ ]:
if True:
    raise NameError

NameError: ignored

In [ ]:
a = 2
b = 4
if b < a:
    raise NameError
else:
    raise SyntaxError

SyntaxError: ignored

### zip

In [3]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
zip(a,b)

In [4]:
list(zip(a,b))

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

In [6]:
lis = list()
for i,j in zip(a,b):
    lis.append({'<=5':i,'>=5':j})
lis

[{'<=5': 1, '>=5': 6},
 {'<=5': 2, '>=5': 7},
 {'<=5': 3, '>=5': 8},
 {'<=5': 4, '>=5': 9},
 {'<=5': 5, '>=5': 10}]

### Enumerate

In [8]:
a = [1,2,3,4,5]
for index,value in enumerate(a):
    print('The index of',value,'is',index)

The index of 1 is 0
The index of 2 is 1
The index of 3 is 2
The index of 4 is 3
The index of 5 is 4

In [9]:
a = {1,2,3,4,5,6,6,6,7} #Remember set contain only unique digits
for index,value in enumerate(a):
    print('The index of',value,'is',index)

The index of 1 is 0
The index of 2 is 1
The index of 3 is 2
The index of 4 is 3
The index of 5 is 4
The index of 6 is 5
The index of 7 is 6