<a href="https://colab.research.google.com/github/yesdeepakmittal/pytraining/blob/master/PyDay09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable scope - LEGB
- Local
- Enclosing
- Global
- Built-in

#### Local vs Global variable

In [ ]:
team = "local value"

def change_value():
    global team

    team = 'making global'
print(team)

change_value()

print(team)

local value
making global

In [ ]:
import builtins
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'dreload',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [ ]:
def power(p):
    def inner(n):
        return n**p
    return inner

sq = power(2)
cb = power(3)

print(sq(5))
print(cb(5))

25
125

In [3]:
#Enclosing - In nested function, 'nonlocal' can be used to change a variable like 'global'

def outer():
    x = 1

    def inner():
        # nonlocal x
        x = 5
        print(x)
    
    inner()
    print(x)

outer()

5
1

In [6]:
def outer():
    x = 1

    def inner():
        nonlocal x
        x = 5
        print(x)
    
    inner()
    print(x)

outer()

5
5

In [ ]:
#Flexible functions
# *args - argument

def adding(*args):
    ad = 0

    for i in args:
        ad += i
    return ad 

adding(3,4,5)

12

In [ ]:
adding(4,3,1,6)

14

In [ ]:
# **kwargs - keyword arguments in key-value pairs

def printing(**kwargs):

    for k,v in kwargs.items():
        print(k,'-',v)

printing(name='abc',mobile='0000')

name - abc
mobile - 0000

In [ ]:
printing(a = 'a', b = 'b',c = 'c', d = 'd')

a - a
b - b
c - c
d - d

In [ ]:
#Lambda function
a = [1,2,3,4]
list(map(lambda x: x**2,a))

[1, 4, 9, 16]

In [ ]:
check = lambda x: x**2

check(3)

9

In [ ]:
mul = (lambda a,b: a*b)

mul(3,4)

12

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

list(map(lambda x: x%2 == 0,a))  #mapping

[False, True, False, True, False, True, False, True, False, True]

In [ ]:
list(filter(lambda x: x%2 == 0,a))   #filtering

[2, 4, 6, 8, 10]

In [1]:
def even_num(n):
    if n%2 == 0:
        return True

l = list(range(1,11))
filter(even_num,l)

In [2]:
list(filter(even_num,l))

[2, 4, 6, 8, 10]

In [7]:
#Reduce - It returns a single value as a result

from functools import reduce
a = list('Hello, World!')

reduce(lambda x,y: x+y,a)  #reducing

'Hello, World!'

In [8]:
reduce(lambda x,y: x+y,a) == ''.join(a)

True

A function to print ASCII value

In [ ]:
ord('a'),ord('A')

(97, 65)

In [ ]:
ord('/')

47

In [ ]:
ord('\n')

10

# Iterator & Iterable

- Iterable is an object, which one can iterate over. ... Iterator is an object, which is used to iterate over an iterable object using __next__() method.

- https://www.geeksforgeeks.org/python-difference-iterable-iterator/

- Datacamp 
    - iterable is an object that can return an iterator
    -  iterator is an object that keeps state and produces the next value when you call next() on it

---
- `iter()` - used to build iterator objects 
- `next()` - used to iterate over the content
- raises `StopIteration` error when iteration is complete

In [ ]:
a = 'Hey'  
b = iter(a)

next(b) #iterating element-wise

'H'

In [ ]:
next(b)

'e'

In [ ]:
next(b)

'y'

In [ ]:
next(b)

StopIteration: ignored

In [ ]:
a = 'Hey'
b = iter(a)

print(*b)  #iterating all together

H e y

In [ ]:
#iterating over a file

f = open('abc.txt')
b = iter(f)

next(b)  #printing first line
next(b)  #printing second line and so on ...

In [1]:
class RangeFunction:
    def __init__(self,start,end):
        self.start = start
        self.end = end
    
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.start < self.end:
            x,self.start = self.start,self.start + 1
            return x
        else:
            raise StopIteration

In [9]:
itr = RangeFunction(0,5)
print(itr.__next__())
print(itr.__next__())
print(itr.__next__())
print(itr.__next__())
print(itr.__next__())

print(itr.__next__())

0
1
2
3
4

StopIteration:

In [8]:
for i in RangeFunction(0,5):
    print(i)

0
1
2
3
4

### Enumerate

In [ ]:
for index,value in enumerate(list('hello')): print('Index :',index,'&','Value :',value)

Index : 0 & Value : h
Index : 1 & Value : e
Index : 2 & Value : l
Index : 3 & Value : l
Index : 4 & Value : o

In [ ]:
a = list('hello')
b = enumerate(a)
list(b)

[(0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

In [ ]:
a = list('hello')
b = enumerate(a,start=2)   #starting index from 2 rather than default 0
list(b)

[(2, 'h'), (3, 'e'), (4, 'l'), (5, 'l'), (6, 'o')]

### zip

In [ ]:
a = list('hello')
b = list(range(1,6))

c = zip(a,b)  #zipping together
print(c)

<zip object at 0x7f193a25f0a0>

In [ ]:
print(*c)

('h', 1) ('e', 2) ('l', 3) ('l', 4) ('o', 5)

In [ ]:
c = zip(a,b)
list(c)

[('h', 1), ('e', 2), ('l', 3), ('l', 4), ('o', 5)]

In [ ]:
a = list('hello')  #5
b = list(range(6)) #6
c = list('abcdefg') #7

for i,j,k in zip(a,b,c):
    print(i,j,k) #only prints 5

h 0 a
e 1 b
l 2 c
l 3 d
o 4 e

In [ ]:
a = tuple('hello')  
b = tuple(range(5))

z1 = zip(a,b)
print(*z1)

z1 = zip(a,b)
r1, r2 = zip(*z1)

print(r1 == a)
print(r2 == b)

('h', 0) ('e', 1) ('l', 2) ('l', 3) ('o', 4)
True
True

In [ ]:
r1

('h', 'e', 'l', 'l', 'o')

In [ ]:
a = tuple('hello')  
b = tuple(range(5))

print(zip(a,b))
# print(list(zip(a,b)))
print(dict(zip(a,b)))

<zip object at 0x7f569fcc2230>
{'h': 0, 'e': 1, 'l': 3, 'o': 4}

In [ ]:
#working with large data > memory capacity
import pandas as pd

df = pd.DataFrame({'a':list(range(1,11)),'b':list(range(11,21))})
df.to_csv('df.csv',)   #try chunksize with to_csv
df

    a   b
0   1  11
1   2  12
2   3  13
3   4  14
4   5  15
5   6  16
6   7  17
7   8  18
8   9  19
9  10  20

In [ ]:
for chunk in pd.read_csv('df.csv',chunksize=5):
    print(chunk) #do computation of each chunk and then current chunk will gets replaced with another

   Unnamed: 0  a   b
0           0  1  11
1           1  2  12
2           2  3  13
3           3  4  14
4           4  5  15
   Unnamed: 0   a   b
5           5   6  16
6           6   7  17
7           7   8  18
8           8   9  19
9           9  10  20

In [ ]:
#creating an iterable reader object and one can use next()
temp = pd.read_csv('df.csv',chunksize=5)
next(temp)

   Unnamed: 0  a   b
0           0  1  11
1           1  2  12
2           2  3  13
3           3  4  14
4           4  5  15

In [ ]:
next(temp)

   Unnamed: 0   a   b
5           5   6  16
6           6   7  17
7           7   8  18
8           8   9  19
9           9  10  20

Comprehensions

In [ ]:
[n**3 if n%3 == 0 else '?' for n in range(10)]

[0, '?', '?', 27, '?', '?', 216, '?', '?', 729]

In [ ]:
type([n**3 if n%3 == 0 else '?' for n in range(10)])

list

In [ ]:
{i: i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
type({i: i**2 for i in range(10)})

dict

### Generators
- It is used to implement iterators. 
- use `()` instead of `[]` to produce generator 
- It is like a list but it **does not** store list in **memory**.  
- It can be used to iterate over a large number like 100 ^ 1000000 without storing the list in memory.
- Generator function uses `yield` for iteration and unlike `return`(which terminates after returning value), it returns a value and pauses the execution while maintaining the internal states and get executed when `next()` is called until hitting `StopIteration` like error.
- Generator Function defined like a regular function(def) and yields a sequence of values instead of returning a single value - datacamp

References: 
- https://www.tutorialsteacher.com/python/python-generator
- Datacamp
- http://www.wellho.net/mouth/561_Python-s-Generator-functions.html

In [22]:
def MyRange(start,end):
    while start < end:
        yield start
        start += 1

a = MyRange(0,5)

print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

0
1
2
3
4

In [23]:
for i in MyRange(0,5):
    print(i)

0
1
2
3
4

In [ ]:
(n**3 if n%3 == 0 else '?' for n in range(10))

In [ ]:
temp = (n**3 if n%3 == 0 else '?' for n in range(10))
next(temp)  #lazy evaluation  | working because it is a generator but couldn't if would be a list

0

In [ ]:
next(temp)

'?'

In [ ]:
a = [n**3 if n%3 == 0 else '?' for n in range(10)]
next(a)  #do not work because it is not a generator

TypeError: ignored

In [ ]:
[num for num in range(100**1000000)]  #this will not work because of high computational requirement

In [ ]:
(num for num in range(100**1000000))  # this will easily work, because it is generator

In [ ]:
list((i for i in range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#generator function
def numbers(n):
    i = 0
    while i<n:
        yield i
        i += 1

temp = numbers(5)

In [ ]:
next(temp)

0

In [ ]:
next(temp)

1

In [ ]:
for i in temp: print(i)

2
3
4