### PRINT THE PATTERN

> Q1.

<p>*</p>
<p>**</p>
<p>***</p>
<p>****</p>
<p>*****</p>

In [ ]:
n = 5
for i in range(1,n+1):
  print('*'*i)

*
**
***
****
*****

> Q2.

<p>*</p>
<p>* *</p>
<p>* * *</p>
<p>* * * *</p>
<p>* * * * *</p>

In [ ]:
n = 5
for i in range(1,n+1):
  print('* '*(i))

*
* *
* * *
* * * *
* * * * *

In [ ]:
n =5 
for i in range(1,n+1):
  for j in range(i):
    print('*',end = ' ')
  print()

*
* *
* * *
* * * *
* * * * *

>Q3.
<p>*****</p>
<p>****</p>
<p>***</p>
<p>**</p>
<p>*</p>

In [ ]:
n = 5
for i in range(n):
  print('*'*(n-i))

*****
****
***
**
*

>Q. 4
<p>* * * * *</p>
<p>* * * *</p>
<p>* * *</p>
<p>* *</p>
<p>*</p>

In [ ]:
n = 5
for i in range(n):
  print('* '*(n-i))

* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 5
for i in range(n):
  for j in range(n-i):
    print('*',end = ' ')
  print()

* * * * *
* * * *
* * *
* *
*

> Q. 5
<!--https://github.com/Python-Markdown/markdown/issues/564--> 
<!-- use it rather than &nbsp -->
<div>
<p>&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;*</p>
<p>&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;*&#x2005;*</p>
<p>&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;&#x2005;*&#x2005;*&#x2005;*</p>
<p>&#x2005;&#x2005;&#x2005;*&#x2005;*&#x2005;*&#x2005;*</p>
<p>*&#x2005;*&#x2005;*&#x2005;*&#x2005;*</p>
</div>

In [ ]:
n = 5
for i in range(n):
  print(' '*(n-i-1),'*'*(i+1))

     *
    **
   ***
  ****
 *****

In [ ]:
n = 5
for i in range(5):
  print(' '*(2*(n-i+1)),end = '')
  for j in range(i+1):
    print('*',end = ' ')
  print()

            *
          * *
        * * *
      * * * *
    * * * * *

>Q. 6

<p>&#x2005;&#x2005;&#x2005;&#x2005;*</p>
<p>&#x2005;&#x2005;&#x2005;*&#x2005;*</p>
<p>&#x2005;&#x2005;*&#x2005;*&#x2005;*</p>
<p>&#x2005;*&#x2005;*&#x2005;*&#x2005;*</p>
<p>*&#x2005;*&#x2005;*&#x2005;*&#x2005;*</p>

In [ ]:
n = 5
for i in range(n):
  print(' '*(n-i-1),end = '')
  for j in range(i+1):
    print('*',end= ' ')
  print()

    *
   * *
  * * *
 * * * *
* * * * *